.button {
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #666;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.buttonBar {
    position: relative;
    top: 40px;
}